@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.Home h1 {
  color: rgb(52, 70, 72);
  font-family: 'Otomanopee One', sans-serif;
  margin-top: 0.5em;
}
.Home {
  text-align: center;
  margin: 0 auto; 
  max-width: 400px;
}


